.idea/
.DS_Store

# Ultralytics / YOLO
project03/runs/
project03/src/runs/

# Datasets
project03/datasets/**/images*/
project03/datasets/**/labels*/
project03/datasets/**/images_aug*/
project03/datasets/**/labels_aug*/
project03/datasets/**/*.cache

# Weights
project03/weights/**
!project03/weights/**/
!project03/weights/mask_detector_v2/weights/best.pt

