.idea/
.DS_Store

__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

.venv/
venv/

# project03
project03/runs/
project03/src/runs/
project03/datasets/**/images/
project03/datasets/**/labels/
project03/datasets/**/images_aug/
project03/datasets/**/labels_aug/
project03/datasets/**/.cache
project03/weights/**
!project03/weights/
!project03/weights/mask_detector_v2/weights/best.pt

